link(rel="import", href="vendor/polymer/polymer.html")
link(rel="import", href="vendor/paper-input/paper-input.html")

link(rel="import", href="assets/add-items-section.html")
link(rel="import", href="assets/compleated-items.html")