&_notifStatement {
  padding-top: 12px;
  padding-bottom: 10px;

  .md-select-value *:first-child{
    width: 57px;
  }

  &_addMenu {
    top: 5px;
    position: relative;
    left: 10px;
  }

  &_item {
    height: 46px;

    &_call {
      width: 450px!important;
      font-size: 80%;
    }
    &_email {
      font-size: 80%;
      width: 450px!important;
    }

    &_destination {
      min-width: 80px;
    }
  }
  md-input-container {
    margin: 9px 0;
  }
}