div(layout='row')
    h4(flex=15) Call is from
    md-menu
        md-button.md-hue-2(aria-label='Open demo menu' ng-click='$mdOpenMenu($event)') Call
        md-menu-content(width='1').md-padding
            md-menu-item
                label(ng-click='test()') Add
    div(flex)
    md-button.md-warn(aria-label='remove item', ng-click='') x