td
    span and
td
    h4(ng-bind='condition.label')
td
td
    md-button.delete-btn.md-warn(aria-label='remove item', ng-click='toggleConditionsSwitch(conditions[5])')
        include ../../../assets/icons/svg/delete