/*MAIN LAYOUT HEADER*/
&Head
  height $head-height

  md-toolbar
    min-height $head-height
    background-color #2b3a41
    box-shadow none

  &Logo
    width 186px
    height 43px
    margin 30px 0 0

  &Menu
    font-size 170%
    margin-top 35px

    svg
      width 28px
      height 42px