&.filter
  &_All
    svgBgFile('menu/ic_all.svg', 0 , 0)

  &_ALARM_IN_MEMORY
    svgBgFile('alarms/ic_alarm.svg', 0 , 0)

  &_EMERGENCY
    svgBgFile('alarms/ic_emergency.svg', 0 , 0)

  &_FIRE
    svgBgFile('alarms/ic_fire.svg', 0 , 0)

  &_PANIC
    svgBgFile('alarms/ic_panic.svg', 0 , 0)

  &_HEAT_MEMORY
    svgBgFile('alarms/ic_heat.svg', 0 , 0)

  &_SMOKE_MEMORY
    svgBgFile('alarms/ic_alarm.svg', 0 , 0)

  &_TAMPER_MEMORY
    svgBgFile('alarms/ic_tamper.svg', 0 , 0)

  &_THISWEEK
    svgBgFile('alarms/ic_tamper.svg', 0 , 0)

  &_THISMONTH
    svgBgFile('alarms/ic_tamper.svg', 0 , 0)