&_ALARM_IN_MEMORY
  svgBgFile('alarms/ic_alarm_gr.svg',$tile-bg-x, $tile-bg-y)

&_EMERGENCY
  svgBgFile('alarms/ic_emergency_gr.svg',$tile-bg-x, $tile-bg-y)

&_FIRE
  svgBgFile('alarms/ic_fire_gr.svg',$tile-bg-x, $tile-bg-y)

&_PANIC
  svgBgFile('alarms/ic_panic_gr.svg',$tile-bg-x, $tile-bg-y)

&_HEAT_MEMORY
  svgBgFile('alarms/ic_heat_gr.svg',$tile-bg-x, $tile-bg-y)

&_SMOKE_MEMORY
  svgBgFile('alarms/ic_alarm_gr.svg',$tile-bg-x, $tile-bg-y)

&_TAMPER_MEMORY
  svgBgFile('alarms/ic_tamper_gr.svg',$tile-bg-x, $tile-bg-y)
