&_LOW_BATTERY
  svgBgFile('alerts/ic_low_battery_gr.svg',$tile-bg-x, $tile-bg-y)

&_AC_FAILURE
  svgBgFile('alerts/ic_ac_failure_gr.svg',$tile-bg-x, $tile-bg-y)

&_GPRS_OFFLINE
  svgBgFile('alerts/ic_gprs_offline_gr.svg',$tile-bg-x, $tile-bg-y)

&_JAMMED
  svgBgFile('alerts/ic_jammed_gr.svg',$tile-bg-x, $tile-bg-y)

&_PANEL_LOW_BATTERY
  svgBgFile('alerts/ic_panel_low_battery_gr.svg',$tile-bg-x, $tile-bg-y)

&_GENERAL
  svgBgFile('alerts/ic_general_gr.svg',$tile-bg-x, $tile-bg-y)

&_WENT_OFFLINE
  svgBgFile('alerts/ic_went_offline_gr.svg',$tile-bg-x, $tile-bg-y)

&_WENT_INACTIVE
  svgBgFile('alerts/ic_went_inactive_gr.svg',$tile-bg-x, $tile-bg-y)

&_WENT_BBA_OFFLINE
  svgBgFile('alerts/ic_went_bba_offline_gr.svg',$tile-bg-x, $tile-bg-y)

&_HEAT
  svgBgFile('alerts/ic_heat_gr.svg',$tile-bg-x, $tile-bg-y)

&_FREEZER_ALERT
  svgBgFile('alerts/ic_freezer_alert_gr.svg',$tile-bg-x, $tile-bg-y)

&_COLD_ALERT
  svgBgFile('alerts/ic_cold_alert_gr.svg',$tile-bg-x, $tile-bg-y)

&_DEFAULT
  svgBgFile('alerts/ic_default_gr.svg',$tile-bg-x, $tile-bg-y)

&_TAMPER
  svgBgFile('alerts/ic_default_gr.svg',$tile-bg-x, $tile-bg-y)
