md-dialog-actions.rule-Dialog_form_actions(layout='row')
    .UP-clear(flex)
    md-button.md-primary.md-raised(ng-click='answer(rule)') Save
    md-button.md-primary.md-raised(ng-click='answer("cancel")').mr20px Cancel