md-input-container(flex=10, title='Repeat attempts')
    md-select(aria-label='select pause', ng-model='notifRule.Transport[3].Attempts[0]')
        md-option(value='0') no repeat
        md-option(value='1') 1 time
        md-option(value='2') 2 times
        md-option(value='3') 3 times
        md-option(value='4') 4 times
        md-option(value='5') 5 times
