md-input-container(flex=30, title='Attach message')
    md-select(aria-label='select to attach', ng-model='notifRule.Transport[4].ToAttach[0]')
        md-option(value='false') Do not attach
        md-option(value='true') Attach