md-input-container(flex=20, title='Call method')
    label call method
    md-select(aria-label='select call method', ng-model='notifRule.Transport[2].CallMethod[0]')
        md-option(value='simultaneously') Simultaneously
        md-option(value='sequentially') Sequentially