.rule-Dialog_form_notifStatement_item_email(
        ng-switch-when='e-mail',
        layout='row',
        layout-fill,
        layout-align='start start'
    )
    include ./notif-destination
    include ./notif-attach
    include ./notif-pause
    div(flex)
    include ./notif-delete
