.rule-Dialog_form_notifStatement_item_call(
        ng-switch-when='call',
        layout='row',
        layout-fill,
        layout-align='start start'
    )
    include ./notif-destination
    include ./notif-callMethod
    include ./notif-pause
    include ./notif-attempts
    include ./notif-delete