md-input-container(flex=40, title='Destination')
    label(ng-bind='notifRule.Transport[0].By[0]')
    input.rule-Dialog_form_notifStatement_item_destination(
        aria-label='input destination',
        ng-model='notifRule.Transport[1].Destination[0]'
    )
