md-menu
    md-button.md-raised.md-hue-2(aria-label='Open demo menu' ng-click='$mdOpenMenu($event)') Older than
    md-menu-content(width='1').md-padding
        md-menu-item
            label Days
            md-input-container
                label Days
                input(aria-label='input destination', ng-model='new', type='number', min=0)
        md-menu-item
            label Hours
            md-input-container
                label Hours
                input(aria-label='input destination', ng-model='new', type='number', min=0)
        md-menu-item
            label Minutes
            md-input-container
                label Minutes
                input(aria-label='input destination', ng-model='new', type='number', min=0)
        md-menu-item
            label Seconds
            md-input-container
                label Seconds
                input(aria-label='input destination', ng-model='new', type='number', min=0)