md-radio-group(ng-model='interval.label', style='width: 250px;')
    md-radio-button.md-hue-3(
        value='eachtime',
        ng-click='toggleInterval(false)'
    ) Each time I recive a new message
    md-radio-button.md-hue-3(
        value='interval',
        ng-click='toggleInterval(true)'
    )  With an aggregated notification at a regular interval