extends layout

block application
    body(unresolved, fullbleed, layout, vertical)
          // Main Toolbar
        paper-toolbar
            paper-icon-button(icon="menu", paper-drawer-toggle)
            span Calc:

        calc-work

                
