md-dialog.videoDialog(aria-label="Video dialog", md-theme="dark", ng-click="click()")

    md-content.videoDialogContent
        header.videoDialogHeader(layout="row")
            div(flex)
            md-button.videoDialogClose(ng-click="cancel()") ×

        block content
