/* FONTS */
@font-face
  font-family CorporateRegular
  src url(../js/vendor/open-sans-fontface/fonts/Regular/OpenSans-Regular.woff)

@font-face
  font-family CorporateBold
  src url(../js/vendor/open-sans-fontface/fonts/Bold/OpenSans-Bold.woff)

@font-face
  font-family CorporateSemiBold
  src url(../js/vendor/open-sans-fontface/fonts/Semibold/OpenSans-Semibold.woff)

body, .main
  font-family CorporateRegular
  /*overflow hidden*/

/* SVG PATH */
$pathToSvg = '../img/icons/svg/'

/* COLORS */
$white = white
$black = black
$grey  = grey
$red = #F44336
$lightgrey = lightgrey
$color-text = #494746
$color-main-bg = #B4B4B4
$color-section-bg = gainsboro
$color-armState-more = white
$main-nav-bg = #f6f8fa
$dialog-color = #1e292f


/* BORDERS */
$corporate-border = 1px solid white
$corporate-border-nav = 3px solid white

/* DIMENSIONS */
/* DIALOG */
$dialog-video-width = 100%
$dialog-video-max-width = 800px
$dialog-video-min-width = 600px

/* MAIN */
$main-width  = 100%
$main-min-width =  545px
$main-height = 1000px
$main-min-height = 1024px

/* HEAD */
$head-height = 104px
$head-color = #1E88E5

/* HEAD ARM-STATE */
$armState-margin-left = 8px
$armState-width = 123px
$armState-elem-height = 40px
$armState-select-height = 39px
$armState-active-bg   = white
$armState-active-elem = #1E88E5

/*$armState-color = $head-color*/

/* NAV */
$nav-width  = 233px
$nav-min-width = 233px
$nav-item-width = 100%
$nav-item-height = 51px
$nav-font-size = 0.875rem
$nav-font-weight = normal
$nav-text-indent = 51px

/* SECTION */
$section-width   = 85%
$section-height  = 100%
$section-padding = 20px

/* VIEW */
$main-view-width = 100%

/* MEDIA QUERIES */
/* mq-1 = is a range with smallest tiles in 5 columns mode */
$mq-1-maxW = 1370px
$mq-1-minW = 1200px

$mq-lg-max = 1200px
$mq-lg-min = 960px

$mq-md-max = 960px
$mq-md-min = 600px

$mq-sm-max = 600px

$tile-bg-x = 0
$tile-bg-y = 65px
