link(rel="import", href="/vendor/polymer/polymer.html")
dom-module(id="compleated-items", attributes="")
  template
      style(rel="stylesheet", href="/style/compleated-items.css")
      h3 {{ title }}
      div#todosContainer
      
script.
  (function () {
    Polymer({
      is: "compleated-items",
      properties: {
        title: {
          type: String,
          value: "To do list:"
        },
        newTask: {
          type: String,
          value: ""
        }
      }
    });
  })();
      